
<h1>Listing Articles</h1>
<%= link_to 'Nowy artykuł', new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Pokaż', article_path(article) %></td>
      <td><%= link_to 'Edytuj', edit_article_path(article) %></td>
      <td><%= link_to 'Usuń', article_path(article),
              method: :delete,
              data: { confirm: 'Na pewno usunąć?' } %></td>
    </tr>
  <% end %>
</table>