 <% @articles.each do |article| %>
      <h2><%= link_to article.title, article_path(article) %></h2>
      <p><em><%= l article.created_at, format: '%B %-d, %Y' %></em></p>
      <p><%= article.text %></p>
      <%= link_to 'Edytuj', edit_article_path(article) %> |
      <%= link_to 'Usuń', article_path(article),
              method: :delete,
              data: { confirm: 'Na pewno usunąć?' } %>
  <hr>
  <% end %>