
<p>
  <strong>Tytuł:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Tekst:</strong>
  <%= @article.text %>
</p>
 
<h2>Komentarze</h2>
<%= render @article.comments %>
 
<h2>Dodaj komentarz:</h2>
<%= render 'comments/form' %>
 
<%= link_to 'Edytuj', edit_article_path(@article) %> |
<%= link_to 'Wróć', articles_path %>